<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ttf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.woff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
	 <listener-class>com.fy.wetoband.tool.servlet.InitSystem</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  	<servlet>
		<servlet-name>toolAction</servlet-name>
		<servlet-class>com.fy.wetoband.tool.servlet.ToolActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		 <servlet-name>toolAction</servlet-name>
   		 <url-pattern>/actRunTool</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
		<servlet-name>tool4ward</servlet-name>
		<servlet-class>com.fy.wetoband.tool.servlet.ToolForwardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		 <servlet-name>tool4ward</servlet-name>
   		 <url-pattern>/runTool4ward</url-pattern>
  	</servlet-mapping>

	<servlet>
		<servlet-name>callTool</servlet-name>
		<servlet-class>com.fy.wetoband.tool.servlet.HttpCallToolServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		 <servlet-name>callTool</servlet-name>
   		 <url-pattern>/httpCallTool</url-pattern>
  	</servlet-mapping>
	<!-- PHP 页面请求跳转 servlet -->
	<servlet>
		<servlet-name>php</servlet-name>
		<servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>php</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>
</web-app>